---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';

// crear las páginas "dinámicas" de manera estática, es decir,
// en tiempo de compilación. 
// Seria la forma correcta de hacerlo cuando se conoce el número
// de páginas que se van a crear y no se espera que este número
// cambie en el tiempo.
// En este caso, se creará una página por cada entrada de la
// colección "notes" y se pasará la entrada como prop.
export async function getStaticPaths() {
  const posts = await getCollection('notes');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post
  }));
}
type Props = CollectionEntry<'notes'>;

const post = Astro.props;
const { Content } = await post.render();
---

<BlogPost {...post.data}>
  <div class="flex gap-3 items-center">
    <img
      src={post.data.heroImage}
      alt={`Logo de ${post.data.title}`}
      transition:name={`note-img-${post.data.id}`}
    />
    <h1 transition:name={`note-title-${post.data.id}`}>
      {post.data.title}
    </h1>
  </div>
  <Content />
</BlogPost>
