---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Project from '../components/Project.astro';
import { projects } from '../content/projects';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex flex-col">
    <Header />
    <main class="px-4 max-w-3xl mx-auto w-full">
      <h2 class="text-3xl mb-2">Hola, soy Juan Pablo 👋</h2>
      <h2
        class="text-2xl mb-8 bg-gradient-to-r from-amber-300 from-0% to-red-400 to-60% bg-clip-text text-transparent"
      >
        Desarrollador Frontend
      </h2>
      <p>
        Ingeniero con más de
        <span class="text-amber-300">2 años de experiencia</span>
        desarrollando soluciones para la web.
      </p>
      <p>Me apasiona crear sitios web increíbles y compartir lo que aprendo.</p>
      <h3 class="text-2xl mt-16 mb-10">Proyectos</h3>
      {
        projects.map((project) => (
          <Project
            link={project.link}
            img={project.img}
            title={project.title}
            stack={project.stack}
          />
        ))
      }
    </main>
    <div
      class="fixed -z-10 h-[134px] w-[134px] lg:w-[300px] lg:h-[300px] rounded-full bg-red-500 blur-[150px] md:blur-[350px] opacity-50 left-0 top-0"
    >
    </div>
    <div
      class="fixed -z-10 h-[134px] w-[134px] lg:w-[300px] lg:h-[300px] rounded-full bg-yellow-500 blur-[150px] md:blur-[350px] opacity-50 right-0 bottom-0"
    >
    </div>
    <Footer />
  </body>
</html>
