---
import Project from '../components/Project.astro';
import { projects } from '../content/projects';
import Layout from '../layouts/Layout.astro';
---

<Layout title="JapyDev | Desarrollador Frontend">
  <h2 class="text-3xl mb-2">Hola, soy Juan Pablo 👋</h2>
  <h2
    class="text-2xl mb-8 bg-gradient-to-r from-amber-300 from-0% to-red-400 to-60% bg-clip-text text-transparent"
  >
    Desarrollador Frontend
  </h2>
  <p>
    Ingeniero con más de
    <span class="text-amber-300">2 años de experiencia</span>
    desarrollando soluciones para la web.
  </p>
  <p>Me apasiona crear sitios web increíbles y compartir lo que aprendo.</p>
  <h3 class="text-2xl font-bold mt-16 mb-10">Proyectos</h3>
  <section>
    {
      projects.map((project) => (
        <Project
          id={project.id}
          img={project.img}
          stack={project.stack}
          title={project.title}
          url={project.url}
        />
      ))
    }
  </section>
</Layout>
