---
import Project from '../components/Project.astro';
import { projects } from '../constants/projects';
import Layout from '../layouts/Layout.astro';
---

<Layout title="JapyDev | Desarrollador Frontend">
  <h2 class="text-3xl mb-2">Hola, soy Juan Pablo 👋</h2>
  <h2
    class="text-2xl mb-8 bg-gradient-to-r from-amber-300 from-0% to-red-400 to-60% bg-clip-text text-transparent"
  >
    Desarrollador Frontend
  </h2>
  <p>
    Ingeniero con más de
    <span class="text-amber-300">2 años de experiencia</span>
    desarrollando soluciones para la web.
  </p>
  <p>Me apasiona crear sitios web increíbles y compartir lo que aprendo.</p>
  <h3 class="text-2xl font-bold mt-16 mb-10">Proyectos</h3>
  <section>
    {
      projects.map((project) => (
        <Project
          id={project.id}
          img={project.img}
          stack={project.stack}
          title={project.title}
          url={project.url}
        />
      ))
    }
  </section>
  <h3 class="text-2xl font-bold mt-16 mb-10">Experiencia</h3>
  <section class="grid gap-y-10">
    <div class="flex flex-col md:flex-row border-s-2 border-amber-300/60 ps-3">
      <div class="md:w-1/3">
        <h4 class="text-lg font-bold">Desarrollador Frontend</h4>
        <p class="text-gray-400/80">Michael Page</p>
        <p class="text-gray-400/80 text-sm">2023 - Actualidad</p>
      </div>
      <div class="md:w-2/3">
        <p>
          Apoyo en el equipo de FRONT para las células del Proyecto Portafolio.
        </p>
      </div>
    </div>
    <div class="flex flex-col md:flex-row border-s-2 border-amber-300/60 ps-3">
      <div class="md:w-1/3">
        <h4 class="text-lg font-bold">Desarrollador Frontend</h4>
        <p class="text-gray-400/80">Universidad Tecnólogica de Pereira</p>
        <p class="text-gray-400/80 text-sm">Ago/2022 - 2023</p>
      </div>
      <div class="md:w-2/3">
        <p>
          Desarrollo Frontend usando ANGULAR como Framework para el proyecto
          “Fortalecimiento en capacidades de salud”.
        </p>
      </div>
    </div>
    <div class="flex flex-col md:flex-row border-s-2 border-amber-300/60 ps-3">
      <div class="md:w-1/3">
        <h4 class="text-lg font-bold">Asesor independiente</h4>
        <p class="text-gray-400/80">Japy Soluciones Digitales</p>
        <p class="text-gray-400/80 text-sm">Ene/2022 - Ago/2022</p>
      </div>
      <div class="md:w-2/3">
        <p>
          Creación de soluciones para empresas y particulares a través del uso
          de herramientas tecnológicas.
        </p>
        <p>
          Asesorar a empresas y particulares para definir requerimientos
          técnicos.
        </p>
      </div>
    </div>
  </section>
</Layout>
